{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "semi": [0],
    "react/jsx-filename-extension": [0],
    "react/jsx-one-expression-per-line": [0],
    "react/destructuring-assignment": [0],
    "react/prop-types": [0],
    "no-unused-vars": [0],
    "comma-dangle": [0]
  }
}
